
<!--
    Useful links:

    Authentification: https://docs.djangoproject.com/en/3.1/topics/auth/default/#built-in-auth-views
    Auth.form: https://github.com/django/django/blob/master/django/contrib/auth/forms.py
    Forms in general: https://docs.djangoproject.com/en/3.1/topics/forms/
    Templates: https://docs.djangoproject.com/en/3.1/ref/templates/language/


-->

{% if form.errors %}
    {% for error in form.get_invalid_login_error %}
       <p>{{ error }}</p>
    {% endfor %}
{% endif %}

<!--Throughout Django we can say @login_required before we go into a certain view
    This means they will get redirected to this page automatically. And the page they
    were trying to access will get kept in the "next" Django variable. Upon successfully
    loging in using this page...Djano will redirect them back to were they were originally
    trying to go instead of taking them to the home url.
-->
{% if next %}
<p>Invalid Page Access...please login first</p>
{% endif %}

<form method="post" action="{% url 'MainApp:login' %}">

{% csrf_token %}

<table>

<!--
    Using the built in Django form object ('form') will grab the html django has already generated for the form
    This is why I do not need to create my own html for username and password inputs
-->

<tr>
    <td>{{form.username.label_tag}}</td>
    <td>{{form.username}}</td>
</tr>

<tr>
    <td>{{form.password.label_tag}}</td>
    <td>{{form.password}}</td>
</tr>
</table>


<!--
    If user is loging in and does not need to be redirect then they will
    be sent to the URL found in settings.
-->
<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">

</form>