

{% extends "Main_Page/base.html" %}

<!-- Navbar -->
{% block navbar %}
<div class="topnav">
  <a href="#">Followers ###</a>
  <a href="#">Following ###</a>
  <a href=".">Refresh</a>  

  {% if validSession %}
  <a href="{% url 'Account:logout' %}" style="float:right">Logout</a>
  {% else %}
  <a href="{% url 'Account:register' %}" style="float:right">Register</a>
  <a href="{% url 'Account:login' %}" style="float:right">Login</a>
  <button style="float: right;">Login</button><!-- https://www.w3schools.com/howto/howto_css_modals.asp Code for making a modal popup window -->

  {% endif %}

</div>
{% endblock %}


<!-- Right Column -->
<!-- Card that holds Profile information -->
{% block Profile_Card %}
  {% if validSession %}
  <a href="{% url 'Account:profile' user %}" style="text-decoration: none;
  outline: none;">
    <div class="card">
      <div class="fakeimg" style="width: 30%; float: left;">Profile pic.</div>
      <div style="text-align: right; width: 70%; float: left;">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <h3 style="color: rgb(99, 99, 99);">@{{user.username}}</h3>
      </div>
      <div style="clear: both;"></div>
    </div>
  </a>
  {% endif %}
{% endblock %}

<!-- Card showing 'Who to Follow' -->
{% block User_List %}

<div class="card" style="padding-left: 0%; padding-right: 0%;">
  <div class="header" style="text-align: left; padding-left: 20px;"><h3>Who to Follow</h3></div>
  
  {% for user in userlist %}
    {% if forloop.counter0 < 3 %}
    <div class="foreignaccount">
      <a href="/profile/{{user.username}}/" style="width: 70%; float: left;">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <h3 style="color: rgb(99, 99, 99);">@{{user.username}}</h3>
      </a>
      <div style="width: 30%; float: left;">
        <button class="follow_button">Follow</button>
      </div>
      <div style="clear: both;"></div>
    </div>
    {% endif %}
  {% endfor %}
  
  <div class="link" style="padding-left: 20px;"><p>Show More</p></div>


</div>

{% endblock %}

<!-- Left Column -->
<!-- Creating a Tweet -->
{% block Create_Tweet %}



{% endblock %}

<!-- Tweets that are being shown to screen -->
{% block Live_Scroll %}

  {% for post in explorescroll %}
  {% if forloop.counter0 < 25 %}
    <div class="post">
      <div class="fakeimg" style="width: 10%; height: 100%; float: left;">Place Holder</div>
      <div style="float: left; width: 90%; padding-left: 10px;">
        <span style="font-size: 20px; font-weight: bold;">{{post.tweet_creator.first_name}} {{post.tweet_creator.last_name}}</span>
        <span style="font-size: 20px; color: rgb(99, 99, 99);">@{{post.tweet_creator.username}}</span>
        <span style="font-size: 20px; color: rgb(99, 99, 99);"> - {{post.pub_date}}</span>
        <div style="padding-top: 5px; line-height: 130%;">{{ post.visible_info }}</div>
        <div class="fakeimg" style="height:60px;">Image</div>
      </div>
      <button class="like">Like</button>
      <div style="clear: both;"></div>
    </div>
  {% endif %}
  {% endfor %}

{% endblock %}


